<!DOCTYPE html>
    <head>
        <title> Pokoje </title>
        <style>
            #rooms{
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse : collapse;
                width: 100%;
                margin-top : 70px;
            }

            #rooms th, #rooms td{
                border: 1px solid #ddd;
                padding: 10px;
                text-align: center;
            }
            
            #rooms tr:nth-child(even){
                background-color: #f2f2f2;
            }
            #rooms tr:hover {
                background-color: #ddd;
            }
            #rooms th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #4CAF50;
                color: floralwhite;
            }
            .myDiv{
                width : 100%;
                text-align: center;   
            }
            #header{
                width : 100%;
                position: fixed; 
                top : 0px;
                margin-bottom: 4px;
                background-color: seagreen;
                border : solid 1px black;
                height : 60px;
                line-height: 30px;
                text-align: center;
                display: inline-block;
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                color : whitesmoke;
                font-size: 20px;
                font-weight: bold;
                
            }
            button{
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
                background-color: white;
                color: darkslategray;
                border: 2px solid black;
                border-radius: 8px;
            }
            button:hover{
                background-color: darkslategray;
                color: white;
            }
            .myButton1 {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                clear : both;
                height: 30px;
                width: 100%;
            }
            .myButton2{
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            }
   
            .message {
                color : red;
            }
        </style>
    </head>
    <body>
        <div id = 'header'>
            Mysterious Woodland Yavalath<br>by Jakub Schreiber and Stanisław Wilczyński
        </div>

        </div>
        <table id = 'rooms'>
            <tr>
                <th>Numer pokoju</th><th>Gracz1</th><th>Gracz2</th><th>Dołącz</th>
            </tr>

            <% for(var i = 0; i < locals.AllGameStates.length; i++) { %>
                <tr>
                    <td style="width: 10%"><%= locals.AllGameStates[i].id %></td>
                    <% if (locals.AllGameStates[i].user0) { %>
                    <td><%= locals.AllGameStates[i].user0.login%></td>
                    <% }
                    else {%>
                    <td>wolne</td>
                    <% } %>
                    <% if (locals.AllGameStates[i].user1) { %>
                    <td><%= locals.AllGameStates[i].user1.login%></td></td>
                    <% }
                    else {%>
                    <td>wolne</td>
                    <% } %>
                    <% if (locals.AllGameStates[i].user1 && locals.AllGameStates[i].user0) { %>
                    <td>Pełny</td></td>
                    <% }
                    else {%>
                    <td><form method="GET" action = <%= "/game" + locals.AllGameStates[i].id %> >
                        <div>
                        <button class='myButton2'>Dołącz do gry</button>
                        </div>
                    </form></td>
                    <% } %>
                </tr>    
            <% } %>
        </table>
        <div>
        <div class = 'myDiv'>
        <form method="GET" action = '/results' >
            <div>
                <button class = 'myButton1'>Wyniki</button>
            </div>
        </form>
        </div>
        <form method="GET" action = 'http://www.iggamecenter.com/info/en/yavalath.html' >
            <div>
                <button class = 'myButton1'>Instrukcja</button>
            </div>
        </form>
        </div>
        <div class = 'myDiv'>
        <form method="GET" action = '/logout' >
            <div>
                <button class='myButton1'>Wyloguj się</button>
            </div>
        </form>
        </div>
        <div class = 'myDiv'>
            <% if ( locals.message ) { %>
            <div class='message'>
                <%= locals.message %>
            </div>
            <% } %>
        </div>
</body>
</html>	

